[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"

[packages]
django = "*"
django-extensions = "*"
django-compressor = "*"
django-bootstrap3 = "*"
django-bootstrap-themes = "*"
django-bootstrap-styles = "*"
compressor = "*"
django-pillow = "*"
django-registration = "*"

[requires]
python_version = "3.8"
