{% extends "base.html" %}

<div>
  <a href="/">👈 Back </a>
</div>

{% block heading %}
<h2>{{ author }} </h2>
{% endblock %}

{% block content %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="hvr-curl-top-right"><a href="index.html">Home</a></li>
            <li class="hvr-curl-top-right"><a href="author.html">Authors</a></li>
            <li class="hvr-curl-top-right"><a href=href="detail.html">Details</a></li>
        </ul>
    </div>
    
  <div>
    <h1>Authors</h1>
    <h1> {{author}} </h1>
  </div>


{% endblock %}