{% extends "base.html" %}

<div>
  <a href="/">👈 Back </a>
</div>

{% block heading %}
<h2>{{ book.title }} </h2>
{% endblock %}

{% block content %}
<p>{{ book.category }} </p>
<h2>{{ book.title }} </h2>
<p>{{ book.author }} </p>
<p>{{ book.price}} </p>
<p>{{ book.publish_date}} </p>
<p>{{ book.description}} </p>
<p>{{ book.review }} </p>
<p>{{ book.category }} </p>


<div class="book" id="{{ book.pk }}">
  <p style="margin: 0 25px 50px;">{{ book.description }}</p>
</div>


    <div class="detail_book_reviews_title">Reviews</div>
    <div class="detail_book_review">
        {% if book.reviews %}
        {% for review in book.reviews %}
        {% endfor %}
        {% else %}
        Buy now, and be the first to review this book!
        {% endif%}
    </div>
</div>

{% endblock %}





