{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BigFarma Bookbarn</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

{% block body %}
<body>
  <header class="page-header">
    <h1>About BigFarma Bookbarn</h1>

    {% block bootstrap3_content %}
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            {% comment %} Navigation header {% endcomment %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            {% comment %} Navigation Links {% endcomment %}
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hvr-curl-top-right"><a href="{% url 'index' %}">Home</a></li>
                    <li class="hvr-curl-top-right"><a href='#about'>About</a></li>
                    <li class="hvr-curl-top-right"><a href='#shop'>Shop</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div>
      <p>BigFarma Bookbarn has been serving the farm agronomy and animal husbandry needs of the Tri-State area since 1966. We
        have books for everyone from the small mushroom gardener to the contemporary organic and hemp land managers.</p>

      <p>At BigFarma Bookbarn, our staff are knowledgable about farm care and animal husbandry and can give you expert advice. We have very low turnover, so you can feel confident knowing that we'll remember your interests and can help you manage your inquiries for years to come.</p>

      <p><em>Always friendly, always affordable, always sharing new reads</em> - that's the BigFarma Way!</p>
    </div>
</body>

{% endblock %}

</html>

    <div class="row text-center navbar footer"></div>
    <div class="col-md-12">

    </div>
{% endblock %}