{% extends 'base.html' %}
{% load static %}

{% block body %}

<body>
    <header class="page-header">
        <h1>About BigFarma Bookbarn</h1>

        <div>
            <p>BigFarma Bookbarn has been serving the farm agronomy and animal husbandry needs of the Tri-State area
                since 1966. We
                have books for everyone from the small mushroom gardener to the contemporary organic and hemp land
                managers.</p>

            <p>At BigFarma Bookbarn, our staff are knowledgable about farm care and animal husbandry and can give you
                expert advice. We have very low turnover, so you can feel confident knowing that we'll remember your
                interests and can help you manage your inquiries for years to come.</p>

            <p><em>Always friendly, always affordable, always sharing new reads</em> - that's the BigFarma Way!</p>
        </div>
</body>

{% endblock %}