{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% load bootstrap3 %}

{% load bootstrap_themes %}

{% block bootstrap3_extra_head %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block bootstrap3_title %}
{% block title %}

Welcome to BigFarma Bookbarn!

{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
{% comment %} <nav class="navbar navbar-inverse navbar-fixed-top"> {% endcomment %}
  <nav class="navbar navbar-.bg-transparent navbar-fixed-top">
      <div class="container">
          {% comment %} Navigation header {% endcomment %}
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
            <img classs="img-responsive" width="130px" height="" 
            <img src="https://source.unsplash.com/nC1wKaL-mgU/1600x900" alt="Image" height="60" width="60">
            </a><br><br><br><br>
    
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

          {% comment %} Navigation Links {% endcomment %}
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="hvr-curl-top-right"><a href="index.html">Home</a></li>
                  <li class="hvr-curl-top-right"><a href="author.html">Authors</a></li>
                  <li class="hvr-curl-top-right"><a href=href="detail.html">Details</a></li>
              </ul>
          </div>
      </div>
  </nav>

<div class="container-fluid">
    {% comment %} <img src="{% static 'static/img/header.jpg'%}" class="bg" /> {% endcomment %}
    <div class="parallax"></div>

    {% block body %}
    <div class="col-md-8 col-md-offset-2 col-sm-12 maincontent"></div>
    <div style="text-align:center">
    
        <h2 style="margin-top: 50px" "color: green">Welcome to BigFarma Bookbarn!</h2>
        <h4>Farm Agronomy and Animal Husbandry Books</h4>
   
        {% comment %} <img src="{% static 'static/img/header.jpg'%}" class="bg" /> {% endcomment %}
    </div>

    <hr>

    {% for book in books %}
    <div class="storefront_book_display">
        <a href="{% url 'book_details' book.id %}">
            {% comment %} <img src="{% static 'img/empty_cover.jpg' %}" /> {% endcomment %}
            <span class="storefront_book_title"> <strong>{{ book.title }}</strong> </span>
            <span class="storefront_book_author"> {{ book.author }}</span>
            <span class="storefront_book_category"> {{ book.category }}</span>
        </a>

    </div>
    {% endfor %}
    {% endblock %}

    <div class="row text-center navbar footer"></div>
    <div class="col-md-12">

    </div>
    {% endblock %}
