    
    Matisse and Dee in base.html
    <div class="head-categories">
        <div class="category"><a class='categoryLinks' href="{% url 'books-list' %}">Home | </a></div>
        <div class="category"><a class='categoryLinks' href="/books/all/">  All | </a></div>
        <div class="category"><a class='categoryLinks' href='/books/html/'> HTML | </a></div>
        <div class="category"><a class='categoryLinks' href='/books/css/'> CSS | </a></div>
        <div class="category"><a class='categoryLinks' href='/books/javascript/'> JavaScript | </a></div>
        <div class="category"><a class='categoryLinks' href='/books/python/'> Python | </a></div>
        <div class="category"><a class='categoryLinks' href='/books/django/'> Django | </a></div>
    </div>

    